<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.vitiello.android.stargazers">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".StargazersApplication"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".view.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".view.StargazersActivity"
            android:exported="true"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.LAUNCHER" />
                <!-- Accepts URIs like stargazers://oauth_redirect?code=1ccf94574ad3de0e564e -->
                <data
                    android:host="oauth_redirect"
                    android:scheme="stargazers" />
            </intent-filter>
        </activity>

        <activity
            android:name=".view.StargazerWebActivity"
            android:exported="false"
            android:launchMode="singleTask" />

    </application>
</manifest>